.checkbox-label{
  position: relative;
}

.checkbox-input{
  width: 24px;
  height: 24px;
  appearance: none;
  background-color: rgba(#36536b, .25);
  display: grid;
  place-content: center;
  z-index: 10;
}

.checkbox-input::before{
  content: "";
  width: 24px;
  height: 24px;
  opacity: 0;
  box-shadow: inset 1.5em 1.5em #ba4270;
}

.checkbox-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  fill: white;
}

.checkbox-input:checked::before{
  opacity: 1;
}



